
event-button{
  width: 100%;
}
.row{
    text-align: center;
    background-color: lightgray;
    border: 1px black solid;

}

.accordion-button{
    background-color: aqua;
}

mat-label{
    width: 50%;
}

mat-expansion-panel{
    background-color: rgb(130, 132, 163);
}

matInput{
    border-color: black;
}

button[type=submit]{
    margin-left: 20px;
}
.row {
  margin: 0px 5px 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.venue {
  margin: 0px 10px 0px;
}
