<div *ngIf="store">
    <div class="row">
        <div class="col-2">Store Number</div>
        <div class="col-2">Store Name</div>
        <div class="col-2">Street</div>
        <div class="col-2">City</div>
        <div class="col-2">State</div>
        <div class="col-2">Zip</div>
    </div>
    <div class="row">
        <div class="col-2">{{store.store_number}}</div>
        <div class="col-2">{{store.name}}</div>
        <div class="col-2">{{store.street}}</div>
        <div class="col-2">{{store.city}}</div>
        <div class="col-2">{{store.state}}</div>
        <div class="col-2">{{store.zip}}</div>
    </div>
</div>
<!-- put expansion panel here-->
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Event Create
            </mat-panel-title>
            <mat-panel-description>
                Click here to generate or enter an event code.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form (ngSubmit)="submitEvent()" [formGroup]="eventForm">
            <mat-form-field appearance="outline">
                <mat-label>Event Code Entry</mat-label>
                <input matInput type="text" matInput placeholder="Placeholder" id="eventCode" name="eventCode" required
                    formControlName="eventCode">
            </mat-form-field>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </mat-expansion-panel>
</mat-accordion>