<div *ngIf="venue">
  <div class="row">
    <div class="col-3">Store Name</div>
    <div class="col-4">Street</div>
    <div class="col-2">City</div>
    <div class="col-1">State</div>
    <div class="col-2">Zip</div>
  </div>
  <div class="row">
    <div class="col-3">{{venue.name}}</div>
    <div class="col-4">{{venue.street}}</div>
    <div class="col-2">{{venue.city}}</div>
    <div class="col-1">{{venue.state}}</div>
    <div class="col-2">{{venue.zip}}</div>
  </div>
</div>
<!-- put expansion panel here-->
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Event Create
      </mat-panel-title>
      <mat-panel-description>
        Click here to generate or enter an event code.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Event/s <h5>(You can only have on ongoing per store currently)</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list class="" [rowHeight]="35" [cols]="4">
          <mat-grid-tile [colspan]="this.event != null ? 2 : 4">
            <button mat-raised-button (click)="eventButtonTapped()" class="event-button">{{this.event != null ?
              "Go To
              Event" : "Create Event"}}</button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <button mat-raised-button (click)="endEvent()" *ngIf="this.event != null" type="button">Conclude
              Event</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
