.line{
    width: 100%;
    height: 1px;
    background-color: white;
}

.achievement{
    border: 1px white solid;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    color: white;
}

.input-group{
    width: 100% !important;
}

.showEdit{
    display: block;
}

.hideEdit{
    display: none;
}
.mat-grid-tile{
  color: white;
}
