<div class="approved-container">
    <h2>Waiting To Be Approved</h2> 
    <div
        cdkDropList
        #waitingList="cdkDropList"
        [cdkDropListData]="waiting"
        [cdkDropListConnectedTo]="[approvedList]"
        class="example-list">
    <div class="example-box" *ngFor="let player of waiting" cdkDrag>{{player.nickname}}</div>
  </div>
</div>

<div class="approved-container">
    <h2>Approved For Event</h2> 
    <div
        cdkDropList
        #approvedList="cdkDropList"
        [cdkDropListData]="approved"
        [cdkDropListConnectedTo]="[waitingList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let player of approved" cdkDrag [cdkDragDisabled]="true">{{player.nickname}}</div>
  </div>
</div>