<mat-card class="card-background">
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="storeOwnerForm">
      <h2>Account Registration</h2>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label for="username">User Name</mat-label>
          <input matInput type="text" id="username" name="username" required formControlName="username"
            placeholder="Username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label for="firstname">First Name</mat-label>
          <input matInput type="text" id="firstname" name="firstname" required formControlName="firstname"
            placeholder="First Name">
          <div class="field-invalid"
            *ngIf="(registrationFormControls.firstname.touched && registrationFormControls.firstname.errors)">
            Required
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label for="lastname">Last Name</mat-label>
          <input matInput type="text" id="lastname" name="lastname" required formControlName="lastname"
            placeholder="Last Name">
          <div class="field-invalid"
            *ngIf="(registrationFormControls.lastname.touched && registrationFormControls.lastname.errors)">
            Required
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" class="form-group">
          <mat-label for="pass">Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="pass" name="pass" required formControlName="pass"
            placeholder="Password (at least 8 chars)">
          <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
          <div class="field-invalid"
            *ngIf="(registrationFormControls.pass.touched && registrationFormControls.pass.errors)">
            Password must be at least 8 characters.
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" class="form-group">
          <mat-label for="email">Email</mat-label>
          <input matInput type="text" id="email" name="email" required formControlName="email"
            placeholder="Enter a valid email.">
          <div class="field-invalid"
            *ngIf="(registrationFormControls.email.touched && registrationFormControls.email.errors)">
            Please enter a valid email
          </div>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" class="mb-3" color="accent"
        [disabled]="!storeOwnerForm.valid">Submit</button>
      <button mat-button type="button" color="accent" (click)="loginSelected()">Login</button>
    </form>
  </mat-card-content>

</mat-card>