button{
    margin-top: 10px;
}
field-invalid{
  color: red;
}
form{
  margin-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  background-color: aqua;
  background-size: 100%;
  background-origin: 0 0;
  background-position: 0%;
  background-repeat: no-repeat;
  padding: 10%;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(3, 254, 254, 0.276);

}
.card-background{
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../../../assets/dragon_valley_by_88grzes_daxiyfw.jpg');
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
input:-moz-placeholder { /* Firefox 18- */
  color: red;
}
