h1{
  margin-top: 8px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.achievement-title{
  border: solid white 1px;
  padding: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}
