<div class="container">
  <mat-toolbar class="mt=3">
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!ownerId"><mat-icon>menu</mat-icon></button>
    <span class="me-2" *ngIf="ownerId"><mat-icon>person</mat-icon></span>
    <span>Event Achievements</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="loginSelected()">Login</button>
      <button mat-menu-item (click)="signUpSelected()">Sign Up</button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf="ownerId" aria-label="Example icon-button with share icon"
      (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
