img{
    position: relative;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}

body{
  width: 100% !important;
  height: 100% !important;
  padding: 0% !important;
  margin: 0% !important;
  background-color: black !important;
}

