
img{
    position: relative;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}
.spacer {
  flex: 1 1 auto;
}

.button-hide {
  display: none;
}
.button-show{
  display: block;
}
.toolbar {
  margin-left: auto;
  margin-right: auto;
  display: block;

}
