h1{
    text-decoration: underline;
    width: 100%;
}

.spacer{
    height: 50px;
    width: 100%;
    display: block;
}

.list{
    overflow-y: auto;
    height: 300px;
    width: 100%;
    display: block;
}