<div class="container">
  <h1>Add Achievement</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="achievementForm">
    <div class="form-group">
      <label for="name">Achievement Title</label>
      <input type="text" class="form-control" id="name" name="name" required formControlName="name">
      <div [hidden]="name.valid || name.pristine">Name is required</div>

      <label for="desc">Description</label>
      <input type="text" class="form-control" id="desc" name="desc" required formControlName="desc">

      <label for="points">Points</label>
      <input type="text" class="form-control" id="points" name="points" required formControlName="points">

      <input class="button" type="submit">
    </div>
  </form>
</div>