<div class="row game-heading">
    <div class="col-4">Name</div>
    <div class="col-4">Points</div>
    <div class="col-4">Level</div>
</div>
<div *ngFor="let player for players">
    <div class="row" (click)="showAchievementsForPlayer(player)">
        <div class="col-4">{{player.username}}</div>
        <div class="col-4">{{player.points}}</div>
        <div class="col-4">{{player.level}}</div>
    </div>
</div>
<div class="row game-heading">
  <div class="col-12">Achievements</div>
</div>
<div>
  <app-player-achievement [player]="selectedPlayer"></app-player-achievement>
</div>
