<div *ngIf="admin">
  <button (click)="revealEditAccountDetails()"
    [ngClass]="editAccountDetailsShown == true ? 'btn btn-primary edit-account-details-shown' : 'btn btn-primary mt-3 mb-3 edit-account-details-hidden'">Edit
    Account Details</button>
  <form (ngSubmit)="onUpdateDetails()" [formGroup]="ownerDetailsForm" class="mb-3">
    <div [ngClass]="editAccountDetailsShown == true ? 'edit-account-details-shown' : 'edit-account-details-hidden'">
      <div class="row">
        <div class="col-6">User Name</div>
        <div class="col-6">{{admin.username}}</div>
      </div>
    </div>
    <div
      [ngClass]="editAccountDetailsShown == true ? 'form-group edit-account-details-hidden' : 'form-group edit-account-details-shown'">
      <mat-form-field>
        <mat-label for="username">User Name</mat-label>
        <input matInput type="text" name="username" placeholder="{{admin.username}}" formControlName="username">
      </mat-form-field>

    </div>
    <!-- <div [ngClass]="editAccountDetailsShown == true ? 'form-group edit-account-details-hidden' : 'form-group edit-account-details-shown'">
            <label class="form-label" for="oldpassword">Password</label>
            <input type="text" name="oldpassword" class="form-control" formControlName="password" placeholder="Type orriginal password">

            <label class="form-label" for="newpassword1">Password</label>
            <input type="text" name="newpassword1" class="form-control" formControlName="password" placeholder="Type new password again">

            <label class="form-label" for="newpassword2">Password</label>
            <input type="text" name="newpassword2" class="form-control" formControlName="password" placeholder="Type new password again">
        </div> -->

    <div [ngClass]="editAccountDetailsShown == true ? 'edit-account-details-shown' : 'edit-account-details-hidden'">
      <div class="row">
        <div class="col-6">Email</div>
        <div class="col-6"> {{admin.email}}</div>
      </div>
    </div>
    <div
      [ngClass]="editAccountDetailsShown == true ? 'form-group edit-account-details-hidden' : 'form-group edit-account-details-shown'">
      <mat-form-field appearance="legacy">

      </mat-form-field>
      <label class="form-label" for="email">Email</label>
      <input type="text" name="email" class="form-control" placeholder="{{admin.email}}" formControlName="email">
    </div>

    <div [ngClass]="editAccountDetailsShown == true ? 'edit-account-details-shown' : 'edit-account-details-hidden'">
      <div class="row">
        <div class="col-6">First Name</div>
        <div class="col-6">{{admin.firstname}}</div>
      </div>
    </div>
    <div
      [ngClass]="editAccountDetailsShown == true ? 'form-group edit-account-details-hidden' : 'form-group edit-account-details-shown'">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" name="firstname" class="form-control" placeholder="{{admin.firstname}}"
        formControlName="firstname">
    </div>
    <div [ngClass]="editAccountDetailsShown == true ? 'edit-account-details-shown' : 'edit-account-details-hidden'">
      <div class="row">
        <div class="col-6">Last Name</div>
        <div class="col-6">{{admin.lastname}}</div>
      </div>
    </div>
    <div
      [ngClass]="editAccountDetailsShown == true ? 'form-group edit-account-details-hidden' : 'form-group edit-account-details-shown'">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" name="lastname" class="form-control" placeholder="{{admin.lastname}}"
        formControlName="lastname">
    </div>
    <div [ngClass]="editAccountDetailsShown == true ? 'edit-account-details-hidden' : 'edit-account-details-shown'">
      <div class="row mt-5 mb-5">
        <button type="submit" class="col-4 btn btn-success">Submit</button>
        <div class="col-4"></div>
        <button class="col-4 btn btn-primary" (click)="revealEditAccountDetails()">Done</button>
      </div>
    </div>

  </form>


  <div *ngFor="let venue of admin.venues">
    <app-store [venue]="venue"></app-store>
  </div>
  <div class="row spacing-top mb-5">
    <button class="btn btn-primary" (click)="revealAddStorePage()">{{storeRegistrationShown ? 'Hide Form' : 'Add
      Store'}}</button>
    <app-store-registration [admin]="admin"
      [ngClass]="storeRegistrationShown == true ? 'store-registration-shown' : 'store-registration-hidden'"></app-store-registration>
  </div>

</div>