<mat-card class="card-background">
  <mat-card-content>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="mx-auto">
      <h2>Login</h2>

      <div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" id="username" name="username" required formControlName="username"
              placeholder="Username">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy" class="mb-3">
            <mat-label for="password">Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="password" id="password" name="password" required
              formControlName="password" placeholder="Password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

          </mat-form-field>
        </div>

        <button mat-raised-button class="mb-3" type="submit" color="accent" [disabled]="!loginForm.valid">Login</button>

      </div>

    </form>
  </mat-card-content>
</mat-card>
